body {
    background-color: #F8EEE7;
}

.head{
    background-color:;
}
.sombra1 {
color: #94618E ;   
text-shadow: 0px 0px 8px #C0C0C0;
font-size: 60px;
font-family: 'Orbitron', serif;
text-align: center;
background-color:
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #49274A;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial";
    font-size: 15px;
}

li a:hover {
    background-color: #F4DECB;
}

.style { 
  text-align: center;
}
div > p {
    position:relative; left: 22%;
    font-size: 43px;
    font-family: 'Orbitron', serif;
}

div > em{ 
 position:relative; left: 20%;
    font-size: 33px;
    font-family: 'Orbitron', serif;
   


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #49274A;
    position: fixed;
    bottom: 0;
   
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 13px 15px;
    text-decoration: none;
    font-family: "Arial";
    font-size: 10px;
}

li a:hover:not(.active){
    background-color: #F4DECB;
}
